<!-- video-notLoggedIn-all.html template -->
{% extends "base.html" %}

		{% block adBanners %}
		{{super()}}
		{% endblock adBanners %}

{% block content %}
	{% with messages = get_flashed_messages(with_categories=True) %}
	  {% if messages %}
	  <ul class="flashes absolute">
	  {% for category, message in messages %}
	      <li class="{{category}}">{{ message | safe }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

	<div class="video-wrapper-container">
		{% for item in videos %}
		<div class="video-wrapper">
			<video controls loop>
				<source src="{{item.videoPath}}" type="{{item.videoType}}"><p>Your browser does not support HTML5 video. To download the video, click <a href="{{item.videoPath}}">here</a>.</p>
			</video>
			<input type ="Button" value="Info" class="popup-video-detail-buttons" id="btn-video-{{item.videoid}}">
		</div>
		{% endfor %}
	</div>

	{% for item in videos %}
	<div class="video-info-wrapper" tabindex="-1" id="video-{{item.videoid}}">
		<h3>{{item.videoName}}</h3>
		<p>{{item.videoDescription}}</p>
	</div>
	{% endfor %}

{% endblock %}

{% block more_js %}
{{super()}}
<script src="/static/scripts/video_page.js"></script>
{% endblock more_js %}