{% extends "main.html" %}

{% block header %}
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" defer></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="/static/js/main.js" defer></script>
	<noscript>Sorry, your browser does not support JavaScript! Please use a browser that supports JavaScript to enjoy all features of this page.</noscript>
{% endblock %}


{% block content %}
	<table class="demographics-table">
		<tr class="table-header-row"> <!--table row for column headers-->
			<th class="checkbox-table-header"></th>
			{% for item in headers %}
			<th>
				<a href="">
				{{item}}
				</a>
			</th>
			{% endfor %}
		</tr>
	<tbody> <!--Decided not to put this in a seprate template-->
		{% for item in data_list %}
		<tr class="table-data-row" id={{item.lineID}}>
			<td class="checkbox-table-row">
				<div class="checkbox">
				<input type="checkbox" id="checkbox_{{item.lineID}}" value="{{item.lineID}}">
				<label for="checkbox_{{item.lineID}}"></label>
				</div>
			</td>
		    <td>{{item.country}}</td>
		    <td>{{item.continent}}</td>
		    <td>{{item.year}}</td>
		    <td>{{item.lifeExp}}</td>
		    <td>{{item.population}}</td>
		    <td>{{item.gdpPercap}}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

	<div class="buttons-container">
	<input type ="button" value="Next 10" id=nextTen>
	<input type ="button" value="Delete" id=delete onclick="deleteRow()">
	<span class="delete-warning">Deleting records via "Delete" will remove it from the server.</span>
	</div>

{% endblock %}